@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-blue: #C3D7EE;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    background-color: var(--primary-blue);
}

.header nav {
    display: flex;
    align-items: center;
}

.header nav ul {
    display: flex;
    list-style: none;
}

.header nav ul li {
    margin-right: 20px;
    font-size: 1.1rem;
}

.header nav ul li a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.logo-header {
    width: 100px;
}

/* Main content */ 

.main-content {
    width: 100%;
    padding: 20px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* Table Admin Dashboard */

.admin-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.pagination-dashboard {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    list-style: none;
    padding: 0;
}

.pagination-dashboard .page-item {
    margin: 0 4px;
    list-style: none;
}

.pagination-dashboard .page-link {
    color: #333;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.pagination-dashboard .page-link:hover {
    background-color: #f1f1f1;
}

.pagination-dashboard .active .page-link {
    background-color: #333;
    color: #fff;
    border: 1px solid #333;
}

/* Footer */

.footer {
    background-color: var(--primary-blue);
    color: #000;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-footer {
    width: 100px;
    margin-bottom: 10px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #000;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #f1c40f; /* Cambia el color al pasar el mouse */
}

